.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px; /* Set a fixed width for the sidebar */
  background-color: #f4f4f4;
}

.title-container {
  margin-bottom: 15px;
}

.title-label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.form-title-input {
  width: 100%; /* Make the title input take full width of the sidebar */
  max-width: 220px; /* Limit the max-width for the title field */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  margin-bottom: 10px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%; /* Make the search input take full width of the sidebar */
  max-width: 220px; /* Limit the max-width for the search field */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
}

.field-list {
  margin-top: 10px;
}

.draggable-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field-icon {
  margin-right: 8px;
}

.field-name {
  font-size: 14px;
  color: #333;
}


